body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: black;
    overflow-x: hidden !important;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    margin: 0;
    height: 5vh;
}

.rune {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -10px;
    margin-right: 25px;
    padding: 15px;
    color: #f3f0e9;
    cursor: pointer;
    user-select: none;
    z-index: 4;
    font-size: 2.5vw;
    font-weight: 800;
}

.header-link {
    color: #b3a894;
    font-family: 'Glamour Lifestyle';
    font-size: 3vh;
    transform: translateX(100vw);
    transition: opacity 1000ms, letter-spacing 200ms, transform 200ms;
    text-decoration: none;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
    user-select: none;
    cursor: pointer;
    opacity: 0;
}

.header-link:hover {
    opacity: 0.7;
    letter-spacing: 1px;
}

.header-link:active {
    letter-spacing: -2px;
}

.header-links {
    width: 100vw;
    position: absolute;
    top: 40%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    margin: 0;
    padding: 0;
}


.cover {
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: relative;
    perspective: 1px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.cover-title {
    position: absolute;
    top: 35%;
    left: 7%;
    font-size: 7vh;
    color: #b3a894;
    font-family: 'Glamour Lifestyle';
    font-weight: 900;
    z-index: 1;
    width: 1%;
    /* text-shadow: 1px 1px 5px rgba(119, 119, 119, 0.5); */
}

.cover-description {
    position: absolute;
    top: 65%;
    left: 7%;
    font-size: 3vh;
    color: rgba(203, 203, 203, 0.877);
    font-family: 'Glamour Lifestyle';
    z-index: 1;
    max-width: 60vw;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.cover-background {
    z-index: -1;
    width: 100vw;
    /* height: 100vh; */
}

.cover-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(src/cover.jpg);
    background: linear-gradient(180deg, transparent, url(src/cover.jpg));
    opacity: linear-gradient(180deg, 0, 1);
    /* background-position: center; */
    background-size: cover;
    pointer-events: none;
}

.cover-scroll-arrow {
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 25px;
    height: auto;
    filter: brightness(0) invert(1);
    cursor: pointer;
    transition: all 200ms;
    /* background-color: rgba(255, 255, 255, 0.3); */
    padding: 10px;
    padding-top: 13px;
    padding-bottom: 7px;
    border-radius: 50%;
}

.cover-scroll-arrow:hover {
    opacity: 0.4;
}

.footer-scroll-arrow {
    z-index: 1;
    /* position: absolute;
    bottom: 10px;
    left: 50%; */
    width: 25px;
    height: auto;
    filter: brightness(0) invert(1);
    cursor: pointer;
    transition: all 200ms;
    transform: rotate(180deg);
    margin-left: 50%;
    /* background-color: rgba(255, 255, 255, 0.3); */
    padding: 10px;
    padding-top: 13px;
    padding-bottom: 7px;
    border-radius: 50%;
}

.footer-scroll-arrow:hover {
    opacity: 0.4;
}

.cover-profile-photo {
    position: absolute;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 0;
}

.fade-black {
    position: absolute;
    top: calc(100vh - 300px);
    width: 100vw;
    height: 300px;
    margin: 0;
    /* margin-top: 25px; */
    background: linear-gradient(180deg, transparent, black);
    /* z-index: 999; */
}

.fade-black.opportunities {
    height: 100px;
    top: calc(100% - 100px);
}

.filler-black {
    background-color: black;
    /* background-color: rgb(153, 170, 182); */
    /* background-color: rgb(22, 22, 22); */
    min-height: 80vh;
    height: fit-content;
    max-width: 100vw;
    margin: 0;
    padding: 20px;
    padding-top: 15vh;
    position: relative;
    overflow-y: hidden;
    z-index: 0;
    color: rgb(48, 48, 48);
}

.section1-divider {
    background-color: #b3a894b6;
    z-index: 99;
    width: 25vw;
    height: 2px;
    border-radius: 4px;
    /* margin-left: 40vw; */
    /* transform: translateX(-50%); */
}

.section1 {
    /* background-color: #999080; */
    /* background-color: rgb(153, 170, 182); */
    /* background-color: rgb(22, 22, 22); */
    min-height: 30vh;
    height: fit-content;
    max-width: 100vw;
    margin: 0;
    padding: 15px;
    padding-left: 7vw;
    position: relative;
    overflow-y: hidden;
    z-index: 0;
    color: #b3a894;
}

.section1-title {
    margin-top: 20px;
    font-size: 4vh;
    font-weight: 800;
    /* width: 20vw; */
    font-family: 'Archivo';
    z-index: 3;
}

.section1-description {
    font-size: 2vh;
    font-family: 'Archivo';
    width: 50vw;
    z-index: 3;
    background: linear-gradient(to top, #b3a89493, #b3a894);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.section1-img {
    /* -webkit-mask-image:-webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)); */
    width: 25vw;
    position: absolute;
    top: 40%;
    left: 60vw;
    transform: translate(0, -50%);
    filter: brightness(0.7);
    right: 0;
    z-index: -1;
}



.divider {
    background-color: #b3a894b6;
    z-index: 99;
    width: 25vw;
    height: 2px;
    border-radius: 4px;
    /* margin-left: 5vw; */
    /* transform: translateX(-50%); */
}

.section2 .divider {
    margin-left: calc(100% - 25vw);
    padding-right: 0;
    margin-right: 0;
}

.section2 {
    /* background-color: #999080; */
    /* background-color: rgb(22, 22, 22); */
    /* background-color: #999080; */
    min-height: 30vh;
    height: fit-content;
    max-width: 100vw;
    margin: 0;
    /* padding: 15px; */
    padding-right: 8vw;
    padding-left: 40vw;
    position: relative;
    overflow-y: hidden;
    color: #b3a894;
    overflow-x: hidden;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.section2-title {
    margin-top: 20px;
    font-size: 4vh;
    font-weight: 800;
    font-family: 'Archivo';
    text-align: right;
    padding-right: 0;
    margin-right: 0;
}

.section2-description {
    font-size: 2vh;
    font-family: 'Archivo';
    width: 50vw;
    background: linear-gradient(to top, #b3a89493, #b3a894);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: right;
    padding-right: 0vw;
    margin-right: 0vw;
    /* overflow-x: hidden; */
}

.section2-img {
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 10vw;
    transform: translate(0, -50%);
    right: 0;
    z-index: 0;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


.section3 {
    /* background-color: #999080; */
    /* background-color: rgb(153, 170, 182); */
    /* background-color: rgb(22, 22, 22); */
    min-height: 30vh;
    height: fit-content;
    max-width: 100vw;
    margin: 0;
    padding: 15px;
    padding-left: 7vw;
    /* position: relative; */
    overflow-y: hidden;
    z-index: 0;
    color: #b3a894;
}

.section3-title {
    margin-top: 20px;
    font-size: 4vh;
    font-weight: 800;
    /* width: 20vw; */
    font-family: 'Archivo';
    z-index: 3;
}

.section3-description {
    font-size: 2vh;
    font-family: 'Archivo';
    width: 50vw;
    z-index: 3;
    background: linear-gradient(to top, #b3a89493, #b3a894);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.section3-img {
    /* -webkit-mask-image:-webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)); */
    width: 25vw;
    position: absolute;
    top: 40%;
    left: 60vw;
    transform: translate(0, -50%);
    filter: brightness(0.7);
    right: 0;
    z-index: -1;
}


.footer {
    background-color: rgb(12, 12, 12);
    max-width: 100vw;
    width: 100vw;
    height: 30vh;
    position: relative;
    overflow-x: hidden;

}

.footer-link {
    color: white;
    font-family: 'Archivo';
    font-size: 20px;
    transition: all 200ms;
    text-decoration: none;
}

.footer-link:hover {
    color: rgb(174, 174, 174);
}

.footer-links {
    width: 100vw;
    position: absolute;
    top: 40%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}

.footer-link-holder {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.copyright {
    color: rgba(203, 203, 203, 0.637);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    margin-bottom: 5px;
}

.fade-in {
    opacity: 0;
    /* transform: translateY(2vh); */
    visibility: hidden;
    transition: opacity 1000ms ease-out, transform 300ms ease-out;
    will-change: opacity, visibility;
}

.fade-in.text {
    transform: translateY(2vh);
}

.fade-in.text.visible {
    transform: none;
}

.fade-in.visible {
    opacity: 1;
    visibility: visible;
}

.hidden {
    opacity: 0;
    transition: opacity 200ms ease-out;
}

.visible {
    opacity: 1;
}

.link {
    text-decoration: underline !important;
    color: rgb(35, 35, 35) !important;
    cursor: pointer !important;
    font-family: 'Archivo' !important;
    transition: color 200ms !important;
}

.link:hover {
    color: rgb(80, 80, 80) !important;
}

/* form{
    font-family: 'Archivo';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

form input{
    width: 40vw;
    padding-top: 7px;
    padding-bottom: 7px;
}

form textarea{
    max-width: 40vw;
    min-width: 40vw;
} */

@media only screen and (max-width: 600px) {
    .section1-img {
        left: 50vw;
    }

    .section2-img {
        left: 20px;
    }

    .section1 {
        padding-left: 5vw !important;
        padding-right: 0px !important;
        overflow-x: hidden;
    }

    .section2 {
        padding-right: 0px !important;
        max-width: 100vw;
        overflow-x: hidden;
    }

    .section1 {
        min-height: 40vh;
        height: fit-content;
        max-width: 100vw;
        max-height: fit-content;
        margin: 0;
        padding: 15px;
        padding-left: 40vw;
        position: relative;
        overflow-x: hidden;
    }

    .section1-description,
    .section2-description {
        max-width: 50vw;
        width: 50vw;
    }

    .cover-title {
        top: 35%;
    }

    .cover-profile-photo {
        filter: brightness(0.5);
    }

    /* form input{
        width: 90vw;
        padding-top: 7px;
        padding-bottom: 7px;
        margin: 0;
    }
    
    form textarea{
        width: 90vw;
        margin: 0;
    } */
    .contact-form-container{
        width: 100vw !important;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .contact-form-container input, .contact-form-container textarea{
        width: 90vw;
    }
}

.cover-bg-overlay.contact {
    background: transparent !important;
    height: 100% !important;
}

.cover-bg-overlay.opportunities {
    background: url(src/opportunities.jpg) !important;
    background-position: center !important;
    background-size: cover !important;
    height: 100% !important;
}

/* form input{
    height: 2vh;
    font-size: 1.5vh;
}

form textarea{
    height: 5vh;
    z-index: 9999;
    font-size: 1.5vh;
}

form input, form textarea{
    background-color: rgb(163, 163, 163);
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 12px;
}

form label{
    font-size: 2vh; */
/* } */

.contact-section1 {
    padding-left: 5vw;
    min-height: 40vh !important;
    overflow-y: visible !important;
}

.center {
    text-align: center;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.center .section1-description {
    text-align: center;
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
    padding: 0;
}

.center .section1-divider {
    margin-left: 50%;
    transform: translateX(-50%);
}

a {
    color: #b3a894e5;
}

a:active {
    color: #b3a894c5;
}

.affiliated-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.affiliated-links a {
    font-family: 'archivo';
    margin: 50px;
}

.cover.contact .cover-title {
    left: 50%;
    transform: translateX(-50%) !important;
    width: auto;
}