body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.cover{
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: relative;
    overflow-y: hidden;
}
.cover-title{
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 70px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Archivo Black';
    font-weight: 500;
    z-index: 1;
}
.cover-description{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 20px;
    color: rgba(203, 203, 203, 0.877);
    font-family: 'Archivo';
    z-index: 1;
    max-width: 60vw;
}
.cover-background{
    z-index: -1;
    width: 100vw;
    /* height: 100vh; */
}
.cover-bg-overlay{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    backdrop-filter: brightness(0.6);
    pointer-events: none;
}
.cover-scroll-arrow{
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 25px;
    height: auto;
    filter: brightness(0) invert(1);
    cursor: pointer;
    transition: all 100ms;
}
.cover-scroll-arrow:hover{
    opacity: 0.7;
}
.cover-profile-photo{
    position: absolute;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 0;
}

.section1{
    background-color: rgba(203, 203, 203, 0.877);
    height: 40vh;
    max-width: 100vw;
    margin: 0;
    padding: 15px;
}
.section1-title{
    margin-top: 20px;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Archivo Black'
}
.section1-description{
    font-size: 20px;
    font-family: 'Archivo'
}
.section1-img{
    height: 50%;
}

.section2{
    background-color: rgba(231, 231, 231, 0.877);
    height: 40vh;
    max-width: 100vw;
    margin: 0;
    padding: 15px;
}
.section2-title{
    margin-top: 20px;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Archivo Black'
}
.section2-description{
    font-size: 20px;
    font-family: 'Archivo'
}

.footer{
    background-color: rgb(12, 12, 12);
    max-width: 100vw;
    width: 100vw;
    height: 30vh;
    position: relative;
}

.footer-link{
    color: white;
    font-family: 'Archivo';
    font-size: 20px;
    transition: all 200ms;
    text-decoration: none;
}
.footer-link:hover{
    color: rgb(174, 174, 174);
}
.footer-links{
    width: 100vw;
    position: absolute;
    top: 40%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}
.footer-link-holder{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.copyright{
    color: rgba(203, 203, 203, 0.637);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
}